PORT=8080
DB_URL=jdbc:mysql://localhost:3306/ecom_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=sm
DB_PASSWORD=sm
JWT_SECRET=ZGV2LW9ubHktzZWNyZXQtY2hhbmdlLXRoaXMta2V5LTEyMzQ1Ng==
CORS_ALLOWED_ORIGINS=http://localhost:5173
